.body-faq {
  background-color: #fff !important; }

.h1-top {
  width: 100%;
  height: 100px;
  color: #fff;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 12.4px;
  font-size: calc((120vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
  position: relative;
  font-family: Gilroy_Semiold; }

.faq__block {
  position: relative;
  color: #333333e1;
  padding-right: 10px;
  margin-bottom: 35px; }

.h2-faq {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  font-family: Gilroy_Semiold;
  margin-bottom: 10px;
  padding-left: 40px; }

.h3-faq {
  margin-top: 35px;
  font-size: 30px;
  font-weight: 300;
  font-family: Gilroy_Semiold;
  font-weight: 800;
  margin-bottom: 10px;
  padding-left: 40px; }

.p-faq {
  font-size: 24px;
  margin-top: 35px;
  font-family: Gilroy_Regular;
  padding-left: 40px;
  font-weight: 500;
  color: #333333c7; }

.p-faq-bold {
  margin-top: 55px;
  font-size: 24px;
  font-weight: 300;
  font-family: Gilroy_Semiold;
  font-weight: 800;
  margin-bottom: 10px;
  padding-left: 40px;
  line-height: 35px; }

.svg__colored__treangle {
  position: absolute;
  top: 10px;
  left: 0px; }

.faq__content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px; }
  .faq__content .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    width: 30%;
    height: 80vh;
    background-color: #333333;
    border-radius: 12.4px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .faq__content .sidebar .sidebar_hedline {
      color: #fff;
      margin-top: 20px;
      font-size: 40px;
      padding-bottom: 10px;
      font-family: Gilroy_Regular; }
    .faq__content .sidebar .sidebar_content {
      width: 100%;
      margin-top: 15px;
      font-family: Gilroy_Regular;
      position: relative; }
      .faq__content .sidebar .sidebar_content .menu__item-h1 {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 5px;
        color: #fff;
        padding-left: 40px;
        text-decoration: none; }
      .faq__content .sidebar .sidebar_content .menu__item-h2 {
        padding-left: 70px;
        font-size: 24px;
        color: #fff;
        text-decoration: none;
        display: block; }
      @media (max-width: 1340px) and (min-width: 992px) {
        .faq__content .sidebar .sidebar_content .colored__treangle {
          top: 3px; }
        .faq__content .sidebar .sidebar_content .menu__item-h1, .faq__content .sidebar .sidebar_content .menu__item-h2 {
          font-size: 18px !important;
          padding-left: 30px; }
        .faq__content .sidebar .sidebar_content .menu__item-h2 {
          padding-left: 50px; } }
  .faq__content .content__block {
    width: 70%; }
  @media (max-width: 992px) {
    .faq__content .sidebar {
      display: none; }
    .faq__content .content__block {
      width: 100%; } }
  @media (max-width: 768px) {
    .faq__content .svg__colored__treangle {
      top: 2px; }
    .faq__content .h2-faq {
      font-size: 30px;
      line-height: 25px; }
    .faq__content .h3-faq {
      margin-top: 35px;
      font-size: 20px;
      line-height: 25px; }
    .faq__content .p-faq {
      font-size: 20px;
      line-height: 25px; }
    .faq__content .p-faq-bold {
      margin-top: 55px;
      font-size: 20px;
      line-height: 25px; } }

@media (min-width: 450px) {
  .h1-top-mobil {
    display: none !important; } }

@media (max-width: 450px) {
  .h1-top-mobil {
    display: block;
    width: 100%;
    height: 100px;
    color: #fff;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 12.4px;
    font-size: 20px;
    text-align: center;
    position: relative;
    font-family: Gilroy_Semiold; }
  .h1-top {
    display: none !important; }
  .svg__colored__treangle {
    top: 2px;
    left: -13px; }
  .h2-faq {
    padding-left: 10px; }
  .h3-faq {
    padding-left: 10px; }
  .p-faq {
    padding-left: 10px; }
  .p-faq-bold {
    padding-left: 10px; } }
