
@font-face {
    font-family: 'Gilroy_medium';
    src: url(' ../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
      url(' ../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
      url(' ../fonts/Gilroy-Medium.woff2') format('woff2'),
      url(' ../fonts/Gilroy-Medium.woff') format('woff');
      font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gilroy_bold';
    src: url(' ../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
      url(' ../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
      url(' ../fonts/Gilroy-Bold.woff2') format('woff2'),
      url(' ../fonts/Gilroy-Bold.woff') format('woff');
      font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gilroy_Semiold';
    src: url(' ../fonts/Gilroy-Semibold.eot');
    src: local('Gilroy-Semibold'), local('Gilroy-Semiold'),
      url(' ../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
      url(' ../fonts/Gilroy-Semibold.woff2') format('woff2'),
      url(' ../fonts/Gilroy-Semibold.woff') format('woff');
      font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gilroy_Extrabold';
    src: url(' ../fonts/Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
      url(' ../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
      url(' ../fonts/Gilroy-Extrabold.woff2') format('woff2'),
      url(' ../fonts/Gilroy-Extrabold.woff') format('woff');
      font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gilroy_Regular';
    src: url(' ../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
      url(' ../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
      url(' ../fonts/Gilroy-Regular.woff2') format('woff2'),
      url(' ../fonts/Gilroy-Regular.woff') format('woff');
      font-weight: 500;
    font-style: normal;
  }
  


  