$transition : 0.2s;

@mixin user-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.lkToolptip {
display: none;
    position: absolute;
    top: 90px;
    right: 0;
    width: 270px;
    // height: 300px;
    background-color: #fff;
    z-index: 20 !important;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    // z-index:    -10;


    .personal-info {
        padding: 10px 15px 10px 10px;
        background-color: #333333;
        // height: 92px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        line-height: 1.8rem;

        .name {
            font-size: 20px;
        }

        .mail {
            font-size: 16px;
        }
    }

    .tooltip-menu {
        display: flex;
        color: #fff;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 0px 0px 0px 10px;
        line-height: 1.8rem;
        position: relative;


        .tooltip__a, a {
            text-decoration: none;
            font-size: 18px;
            color: #333333;
            border-bottom: 1px solid #3333;
            padding: 4px 0px 4px 0px;
            // padding-right: 20px;
            border-right: 0px solid #F07543;
            transition: all 0.15s ease-in;
            position: relative;
            cursor: pointer;

            span {
                // position: absolute;
                padding-right: 15px;
            }
        }

        .tooltip__a:hover {
            border-right: 8px solid #F07543;
            transition: all 0.15s ease-in;
        }

        .tooltip__a:last-child {
            border-bottom: none;
        }
    }
}

.tolltip_visible{
    display: block !important;
}
.visible{
    display: block !important;
}

header {
    // background-color: red;
    background-color: #fff;
    -webkit-box-shadow: 1px 5px 17px 0px rgba(34, 60, 80, 0.14);
    -moz-box-shadow: 1px 5px 17px 0px rgba(34, 60, 80, 0.14);
    box-shadow: 1px 5px 17px 0px rgba(34, 60, 80, 0.14);
    transition: all $transition ease;
    height: 90px;

    nav {
        // background-color: green;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .logo {
            position: relative;
            height: 90px;

            svg {
                width: 120px;
                height: 90px;
                // margin-top: 6px;
            }
        }

        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            a {
                text-decoration: none;
                color: #000;

                .menu-item {

                    // border: 1px solid red;
                    height: 90px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 40px;
                    position: relative;
                    font-family: Gilroy_medium;
                    cursor: pointer;
                    font-size: 14px;
                    text-transform: uppercase;

                    .underline {
                        position: absolute;
                        width: 0px;
                        height: 5px;
                        background-color: #F07543;
                        bottom: 0;
                        left: 50%;
                        transition: 0.2s all ease-in;
                    }

                    .underline-active {
                        width: 100%;
                        left: 0;
                    }

                    .left-border {
                        height: 30px;
                        width: 2px;
                        background-color: #D2D3D3;
                        margin-right: 20px;
                    }
                }

                .lust {
                    font-size: 11px;

                    // width: 150px;
                    .empty {
                        width: 150px;
                    }
                }

            }

            .menu-item:hover {
                .underline {
                    width: 100%;
                    left: 0;
                    transition: 0.2s all ease-in;
                }
            }
        }

        .lk-info.login {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .lk-info {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 220px;
            // background-color: red;
            z-index: 5;

            @include user-select;

            .likes-count {
                // width: 50px;
                // padding: 20px 0px 20px 15px;
                border-radius: 8.4px;
                height: 38px;
                border: 1px solid #000;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 10px;
                text-decoration: none !important;
                .count {
                    font-family: Gilroy_Semiold;
                    font-size: 22px;
                    margin-right: -7px;
                    padding-left: 5px;
                    color: #333333;

                }

                // .RedHeartSvg {
                //     margin-top: 3px;
                //     width: 45px;
                // }
                .heartHeader {
                    position: relative;
                    // margin-top: 3px;
                    width: 45px;
                    height: 35px;

                    .RedHeartSvg {
                        margin-top: -7px;
                    }
                }
            }

            .user {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #000;
                // background-image: linear-gradient(211deg, #feda7a, #f72f2f, #7166cf) !important;

                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                cursor: pointer;
                position: relative;

                // z-index: 2 !important;
                .user-bg {
                    position: absolute;
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    // background-color: #000;
                    background: linear-gradient(191deg, #feda7a, #f72f2f, #7166cf);
                    // background-color: red;
                    background-size: 130% 110%;
                    -webkit-animation: nmox-logo 5s ease infinite;
                    -moz-animation: nmox-logo 5s ease infinite;
                    -o-animation: nmox-logo 5s ease infinite;
                    animation: nmox-logo 5s ease infinite;
                    // background-image: linear-gradient(211deg, #feda7a, #f72f2f, #7166cf) !important;
                    z-index: -1 !important;
                    // top: 2px;
                    transform: rotate(0deg);
                    transition: all 1s ease-in;
                }

                .lkArrowSvg {
                    display: none;
                    position: absolute;
                    top: 55px;
                }
            }


            .user:hover {
                .user-bg {
                    transform: rotate(720deg);
                    transition: all 1s ease-in;
                }

            }

            .logOut {
                svg {
                    margin-top: 6px;
                    width: 35px;
                    height: 35px;
                }

            }

            button {
                background-image: linear-gradient(211deg, #feda7a, #f72f2f, #7166cf) !important;
                color: #fff;
                padding: 10px 50px;
                border-radius: 12.4px;
                font-size: 12px;
                cursor: pointer;
                border: none;
                align-content: flex-end !important;
            }

            .loginBTNMobil {
                padding: 10px 40px;
            }
        }

        @mixin burger-item {
            width: 20px;
            height: 2px;
            background-color: #000;
        }

        // BURGER STYlES WAS THERE

    }



}


@mixin burger-item {
    width: 20px;
    height: 2px;
    background-color: #000;
}

.burger {
    width: 38px;
    height: 38px;
    background-color: #fafafa;
    border-radius: 5.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // div{
    //     width: 20px;
    //     height: 2px;
    //     background-color: #000;
    // }

    .burger-center {
        @include burger-item;
        // background-color: red;
    }

    .burger-top {
        @include burger-item;
        position: absolute;
        top: 13px;
        transition: all $transition ease;
    }

    .burger-bottom {
        @include burger-item;
        position: absolute;
        bottom: 13px;
        transition: all $transition ease;
    }

}

.burger-active {
    .burger-center {
        display: none;
        transition-delay: 0.2s;
    }

    .burger-top {
        top: 18px;
        transform: rotate(-45deg);
        transition: all $transition ease;
    }

    .burger-bottom {
        bottom: 18px;
        transform: rotate(45deg);
        transition: all $transition ease;
    }

}


.mobil-menu {
    display: flex !important;
    flex-direction: column !important;

    // display: none !important;
    // justify-content: flex-end !important;
    // background-color: red;
    // padding-left: 40px;
    // z-index: -2 !important;
    a {
        text-decoration: none;
        color: #000;
        display: none;

        .menu-item {

            height: 30px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            // flex-direction: column;
            margin-right: 15px;
            position: relative;
            font-family: Gilroy_medium;
            cursor: pointer;
            font-size: 14px;
            // display: inline;
            width: auto;
            text-transform: uppercase;
            float: right;
            // border-bottom: 1px solid #F07543;

            .underline {
                position: absolute;
                width: 0px;
                height: 5px;
                background-color: #F07543;
                bottom: 0;
                left: 50%;
                transition: 0.2s all ease-in;
            }

            .left-border {
                height: 30px;
                width: 2px;
                background-color: #D2D3D3;
                margin-right: 20px;
            }
        }

        // .lust {
        //     margin-top: 10px;
        //     font-size: 11px;
        // }

    }
}

// .visible {
//     display: block !important;
//     // z-index: 1;
// }


.header-mobil-active {
    height: 190px;
    // background-color: red;
    transition: all $transition ease;
}


.headerCard {
    width: 100%;
    // height: 320px;

    background-color: #fff;
    // background-color: red;
    border-radius: 12.4px;
    margin-top: 20px;
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    // display: none !important;
    // align-items: center;
    .treangle {
        position: absolute;
        top: 30px;
        left: -2px;
    }
    @media (max-width:576px){
        .treangle {
            // position: absolute;
            top: 22px;
            // left: -2px;
        }
    }

    .content {
        width: 75%;

        h1 {
            font-size: 32px;
            // font-size: 24px;
            // font-size: 19px;

            // font-size: calc( (120vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
            font-weight: 500;
            line-height: calc((140vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
            line-height: 32px;
            font-family: Gilroy_medium;

        }

        @media (max-width: 1330px) {
            h1 {
                font-size: 24px;
            }
        }

        @media (max-width: 992px) {
            h1 {
                font-size: 18px;
            }
        }

        // @media (max-width: 768px) {
        //     h1 {
        //         line-height: 24px !important;
        //     }
        // }
        @media (max-width: 576px) {
            h1 {
                font-size: 17px;
                line-height: 20px !important;
            }
        }
        @media (max-width: 400px) {
            h1 {
                font-size: 15px;
                line-height: 18px !important;
            }
        }
        @media (max-width: 350px) {
            h1 {
                font-size: 14px;
                line-height: 20px !important;
            }
        }

        .hr {
            width: 100%;
            height: 2px;
            // left: 50%;
            // margin-left: -50%;
            margin-top: 20px;
            background-color: #B075A2;
            // position: absolute;
            // top: -20px;
            transition: 0.3s ease-in;
        }

        p {
            // font-size: 24px;
            font-size: calc((100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
            margin-top: 30px;

        }

        .dates {
            // font-size: 28px;
            font-size: calc((100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
            // margin-top: 10px;
            font-family: Gilroy_Semiold;
        }
        .more450{

        }

        button {
            padding: 8px 30px;
            border-radius: 6.4px;
            border: 1px solid #333333c0;
            background-color: #fff;
            margin-top: 10px;
            font-family: Gilroy_Semiold;
            font-weight: 600;
            color: #333333c0;
            font-size: 18px;

        }

        @media (max-width: 576px) {
            // .content{
                .hrHeader {
                  
                    margin-top: 15px !important;
               
                }
                .eventDate{
                    margin-top: 13px;
                }
            // }
            button {
                font-size: 12px !important;
                // color: red;
            }
        }

        @media (min-width: 450px) {
            .more450{
                display: block;
            }
            .less450{
                display: none;
            } 
        }

        @media (max-width: 450px) {
            .more450{
                display: none;
            }
            .less450{
                display: block;
            }
            button {
                font-size: 12px !important;
                // color: red;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        
    }

    .count {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        // width: 30%;
        // position: relative;
        position: absolute;
        bottom: 30px;
        right: 40px;

        .zet {
            // height: 160px;
            // width: 200px;
            // background-color: red;

            .number {
                font-size: 90px;
                font-weight: bolder;
                // margin : auto;
                padding: 0;

                // margin-top: -8px;
                text-align: center;
                font-family: Gilroy_Extrabold;
            }

            .string {
                font-size: 24px;
                font-weight: 600;
                text-align: center;
                // margin-top: -8px;
                font-family: Gilroy_Semiold;
                margin-top: -20px;
            }
        }

    }

    @media (max-width: 768px) {
        .content {
            width: 100%;
        }

        .count {
            .zet {

                // width: 120px;
                .number {
                    font-size: 70px;
                }

                .string {
                    font-size: 20px;
                }
            }
        }
    }

    @media (max-width: 450px) {

     
        .count {
            bottom: 27px;
            right: 27px;

            .zet {

                // width: 120px;
                .number {
                    font-size: 60px;
                    // margin-bottom: 10px;
                }

                .string {
                    font-size: 16px;
                }
            }
        }
    }
}

.white__block {
    width: 100%;
    background-color: #fff;
}




.nearestEvents {
    width: 100%;
    // min-height: 40px;
    padding-top: 20px;
    height: auto;
    background: #fff;
    // background-color: red;
    margin-top: 20px;
    position: relative;
    padding-bottom: 10px;
    z-index: 0;
    @include user-select;





    // h3 {
    //     padding-top: 10px;
    //     // padding-bottom: 10px;
    //     font-weight: 300;
    //     font-size: 24px;
    // }

    .specialtyItem {
        white-space: nowrap;
        width: auto;
        margin-right: 14px;
        border: 1px solid black;
        height: 50px;
        border-radius: 16.4px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 20px;
    }

    .scrollWrap {
        // width: 106% !important;
        width: 100%;
        // margin-left: -3%;
        // padding-left: 3%;
        height: 60px;
        display: flex;
        // overflow: hidden;
        // align-items: center;
        overflow-x: scroll;
        // background-color: red;

        .arrowBlock {
            position: absolute;
            height: 70px;
            width: 3%;
            z-index: 2;
            display: flex;
            width: 60px;
            align-items: center;

        }

        .arrowLeft {
            // left: -1%;
            left: 0%;
            background: radial-gradient(at left, #fff, rgba(255, 255, 255, 0.315));
            cursor: pointer;

        }

        .arrowRight {
            // right: -1%;
            right: 0%;
            justify-content: flex-end;
            background: radial-gradient(at right, #fff, rgba(255, 255, 255, 0.315));
            cursor: pointer;

        }

        .scrollContainer {
            margin-top: 10px;
            display: flex;
            padding-left: 20px;
            transition: all 0.2s ease-in;
            margin-bottom: 20px;
            position: relative;

            div, .specialtyItem {
                white-space: nowrap;
                width: auto;
                margin-right: 14px;
                border: 1px solid black;
                height: 50px;
                border-radius: 16.4px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                padding: 20px;



                // img {
                //     position: absolute;
                //     top: 0;
                //     right: 0;
                //     width: 15px;
                //     height: 15px;
                // }
            }

            .searchText {
                font-weight: bold;
                font-size: 15px;
                // margin-top: -15px;
                // padding-bottom: 15px;
            }

            span {
                width: 50px;
            }
        }
    }

    // @media (min-width: 768){
    //     .scrollWrap{
    //         width: 104% !important;
    //     }
    // }


    .scrollWrap::-webkit-scrollbar {
        height: 0;
    }
}

.svg__colored__treangle {
    position: absolute;
    top: 12px;
    left: 0px;
    // background-color: red;
    // width: 30px;
    // height: 30px;
}



.container {
    section {
        background-color: pink !important;
    }

    .baner {
        margin-top: 20px;
        position: relative;

        img {
            width: 100%;
        }
    }

    .infom__block {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 50px;
        // margin-top: 30px;
        // padding-left: 30px;
        position: relative;

        .inform__block-left {
            width: 50%;
            margin-top: 30px;
            padding-left: 30px;
            position: relative;

            // .svg__colored__treangle {
            //     position: absolute;
            //     top: 12px;
            //     left: 0px;
            //     // background-color: red;
            // }

            h2 {
                font-size: 30px;
                font-weight: 600;
                font-family: Gilroy_Semiold;
                margin-bottom: 10px;
            }

            // p{
            // font-size: 14px;
            // margin-top: 10px;
            // }
            .info__line {
                margin-top: 5px;
                line-height: 28px;

                p {
                    font-size: 18px;
                    // margin-top: 10px;
                    font-family: Gilroy_Regular;
                    // color: #333333e0;
                }

                .p__bold {
                    font-size: 22px;
                    // margin-top: 10px;
                    font-family: Gilroy_Semiold;


                    font-weight: 800;
                    // color: red;

                    span {
                        font-size: 18px;
                        font-family: Gilroy_Regular;
                        font-weight: 100;
                    }
                }
            }
        }

        .inform__block-right {
            margin-top: 15px;
            width: 50%;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // padding-left: 5%;
            // margin: auto;
            // text-align: center;
            position: relative;

            .butto__wrap {
                // position: absolute;
                // width: 105%;
                // width: 75%;
                // display: ;
                // height: 109%;

                margin-top: 25px;
                display: inline-block;
                padding: 3px;
                border-radius: 10.4px;

                z-index: -1;
                background: linear-gradient(255deg, #feda7a, #f72f2f, #7166cf);
                background-size: 130% 110%;
                transition:  1s ease !important;

                button {
                    // width: 300px;
                    // width: 80%;
                    // height: 70px;
                    // margin-top: -1px;
                    margin-right: -0.5px;
                    display: flex;
                    border: none;
                    align-items: center;
                    // justify-content: center;
                    font-size: 24px;
                    background-color: #fff;
                    font-family: Gilroy_Semiold;
                    position: relative;
                    width: 380px;
                    height: 70px;
                    padding-left: 20px;
                    // padding: 20px 20px;
                    // padding-right: 80px;
                    border-radius: 8.4px;
                    // z-index: 2;

                    .heart {
                        position: absolute;
                        right: 20px;
                    }
                }

            }

            .links {
                // text-align: center;
                display: flex;
                flex-direction: column;
                width: 380px;
                display: inline-block;

                a {
                    // text-align: center;
                    // background-color: red;
                    margin-top: 40px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: 20px;
                    padding-right: 10px;

                    .svgArrow {
                        transition: all $transition ease;
                        // margin-left: 10px !important;
                    }

                    span {
                        font-size: 24px;
                        color: #333333;
                        font-family: Gilroy_Semiold;
                    }

                }

                a:hover {

                    .svgArrow {
                        transform: translateX(15px);
                        transition: all $transition ease;

                    }

                    span {
                        color: #33333377;
                    }
                }
            }



        }
    }
}

.event__program__section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-top: 50px;

    .program {
        width: 50%;
        margin-top: 30px;
        padding-left: 30px;
        position: relative;

        // .svg__colored__treangle {
        //     position: absolute;
        //     top: 12px;
        //     left: 0px;
        // }

        h2 {
            font-size: 30px;
            font-weight: 600;
            font-family: Gilroy_Semiold;
            margin-bottom: 10px;
        }

        .program__item {
            border-left: 2px solid #000000;
            // min-height: 100px;
            width: 80%;
            margin-left: 10px;
            padding-bottom: 30px;
            padding-left: 30px;
            line-height: 26px;
            position: relative;

            .program__item-p {
                font-size: 18px;
                // color: #333333e0;
                font-family: Gilroy_Regular;
                // margin-top: -5px;

                // margin-top: 10px;
            }

            .title {
                font-family: Gilroy_Semiold;
                font-size: 22px;
                margin-top: 2px;
                margin-bottom: 2px;
            }

            .circle {
                position: absolute;
                top: 0;
                left: -13.5px;
            }

            .blackTreangle {
                position: absolute;
                top: 0;
                left: -2px;
            }

            .p__bold {
                font-size: 22px;
                font-family: Gilroy_Semiold;
                font-weight: 800;

                span {
                    font-size: 18px;
                    font-family: Gilroy_Regular;
                    font-weight: 100;
                }
            }

        }

        .last {
            border-left: none;
        }

    }

    .speakers {
        position: relative;
        width: 50%;
        margin-top: 30px;
        height: auto;

        // border: 1px solid black;

        // .svg__colored__treangle {
        //     position: absolute;
        //     top: 12px;
        //     // left: 0px;
        // }

        h2 {
            font-size: 30px;
            font-weight: 600;
            font-family: Gilroy_Semiold;
            margin-bottom: 10px;
            padding-left: 30px;
        }

        .slider__content {
            position: relative;
            margin-bottom: 90px;

            .speaker__info {
                position: relative;
                display: flex;
                margin-bottom: 20px;
                // justify-content: space-between;

                img {
                    width: 160px;
                    height: 160px;
                    object-fit: cover;
                }

                .info {
                    margin-left: 20px;
                    width: 65%;
                    display: flex;
                    flex-direction: column;
                    // line-height: 25px;

                    .p__bold {
                        font-size: 22px;
                        font-family: Gilroy_Semiold;
                        font-weight: 800;
                        // line-height: 22px;
                        margin-bottom: 5px;
                    }

                    .program__item-p {
                        font-size: 18px;
                        line-height: 24px;
                        font-family: Gilroy_Regular;
                        color: #333333e0;
                        // color: #333333ef;
                    }

                    a {
                        text-decoration: none;
                        // position: absolute;
                        // bottom: 5px;
                        margin-top: 30px;
                        font-size: 18px;
                        color: #333333;
                        display: flex;
                        align-items: center;

                        .svgArrow {
                            transition: all $transition ease;
                            margin-left: 20px;
                        }
                    }

                    a:hover {
                        color: #333333b7;

                        .svgArrow {
                            transition: all $transition ease;
                            transform: translateX(20px);
                        }
                    }
                }

            }

        }
    }
}

// .swiper-pagination {
//     margin-left: -70px !important;
// }

@media (min-width: 992px) {
    .swiper-pagination {
        margin-left: -70px !important;
        margin-top: 10px !important;
    }
}

.swiper-pagination-bullet {
    //  margin-top: 50px !important;
    width: 20px !important;
    height: 20px !important;
    background-color: #fff;
    border: 1px solid #333333;

}

.swiper-pagination-bullet-active {
    background-color: #333333;
}

.h2 {
    margin-bottom: 25px !important;
}

.goals {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    // margin-top: 30px;
    // padding-left: 30px;
    position: relative;

    .goals-left {
        position: relative;
        width: 46%;
        // padding-left: 30px;
        // margin-top: 30px;
        // background-color: red;
        height: auto;

        h2 {
            font-size: 30px;
            font-weight: 600;
            font-family: Gilroy_Semiold;
            margin-bottom: 10px;
            padding-left: 30px;
            position: relative;
        }

        .p {
            padding-left: 30px;
            font-size: 18px;
            font-family: Gilroy_Regular;

            // color: #333333e0;
            span {
                color: red;
            }
        }

        .p-mt {
            margin-top: 20px;
        }

    }

    .goals-right {
        position: relative;
        width: 50%;
        margin-top: 30px;
        height: auto;

        // border: 1px solid black;
        .ads__block {
            height: 100%;
            // border: 1px solid red;
            // display: block;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-decoration: none;
            width: 80%;
            margin-left: 5%;
            border-radius: 12.4px;
            background-color: #333333;
            margin-top: -46.5%;

            .header {
                width: 100%;
                height: 130px;
                // background-color: red;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 30px;
                padding-right: 30px;
                color: #fff;
                font-size: 34px;
                // font-size: calc( (100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);

                line-height: 34px;
            }

            .add-baner {
                width: 100%;
            }

            .footer {
                width: 100%;
                // height: 200px;
                // background-color: red;
                display: flex;
                justify-content: space-between;
                // align-items: center;
                flex-direction: column;
                // padding-left: 30px;
                // padding-right: 30px;
                padding: 30px;
                color: #fff;

                // font-size: 18px;
                // line-height: 18px;
                p {
                    font-size: 22px;
                    font-family: Gilroy_Regular;
                    font-weight: 200;
                    // line-height: 32px;
                }
            }
        }

        .brand__name {
            display: flex;
            width: 90%;
            justify-content: space-between;
            margin-top: 80px;
            align-items: center;

            img {
                width: 165px;
                height: 165px;
            }

            .info {

                // background-color: red;
                .info-item {
                    margin-left: 30px;
                    font-family: Gilroy_Semiold;
                    font-size: 20px;
                    text-decoration: none;
                    color: #333333;
                    line-height: 35px;

                }
            }



        }
    }
}

.h3 {
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    font-family: Gilroy_Semiold;
    padding-bottom: 20px;
    margin-top: 80px;
    // padding-left: 30px;

}


.event-card {
    cursor: default;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 12.4px;
    background-color: #fff;
    transition: all 0.1s ease-in-out;
    overflow: visible;
    padding: 30px 30px;
    font-family: 'Gilroy';
    box-shadow: none;
    height: 289px;
    position: relative;
    // color: red;
    text-decoration: none;

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 15px;
        min-height: 71px;
        // background-color: red;
        // border-bottom: 1px solid #B075A2;


        .dates {
            div {
                font-size: 24px;
                font-weight: 100 !important;
                line-height: 28px;
                font-family: Gilroy_bold;
                // height: 50px;
            }
        }

        .count {
            font-size: 39px;
            font-weight: bolder;
            margin-top: -8px;
            font-family: Gilroy_Extrabold !important;
        }
    }

    .card-content {
        line-height: 15px;
        padding: 15px 0;
        margin-top: 20px;
        position: relative;
        height: 70px;
        // background-color: red;


        .hr {
            width: 100%;
            height: 2px;
            left: 50%;
            margin-left: -50%;
            background-color: #B075A2;
            position: absolute;
            top: -20px;
            transition: 0.3s ease-in;
        }



        p {
            margin: 0;
            font-size: 13px;
            color: #000;
            font-family: Gilroy_Regular;
            // color: red
            // height: 30px;
        }

        .specialtyName {
            // height: 20px;
        }

        .info {
            color: #787878;
            cursor: pointer;
            margin: 0;
            font-size: 13px;
            color: #000;
            font-family: Gilroy_Regular;
            font-weight: 100;
            // width: 300px;
            display: inline-block;
            // background-color: red;
            padding-bottom: 1px;
            border-bottom: 1px dashed #000;
        }

        .content-info {
            // background-color: red;
            width: 130px;

            p {
                // color: red;

                width: auto;

            }
        }


        // start tooltip

        .content-info .pop {

            display: none;
            padding: 20px 10px 20px 20px;
            z-index: 10;

            .pop-scroll {
                width: 100%;
                height: 210px;
                // background-color: red;
                overflow-y: scroll;
                color: #000;
                font-family: Gilroy_Regular;
                line-height: 18px;
            }

            .pop-scroll::-webkit-scrollbar {
                height: 0;
                width: 2px;
            }

            .pop-scroll::-webkit-scrollbar-thumb {
                // padding-right: 10px;
                background-color: #B075A2;
                border-radius: 9em;
                box-shadow: inset 1px 1px 10px #f3faf7;
            }
        }

        .content-info:hover .pop {
            position: absolute;
            display: block;
            // color: green;
            // background-color: red;
            background-color: #fff;
            width: 65%;
            height: 250px;
            top: -100px;
            left: 38%;
            border-radius: 12.4px;
            -webkit-box-shadow: -1px 2px 11px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: -1px 2px 11px 0px rgba(34, 60, 80, 0.2);
            box-shadow: -1px 2px 11px 0px rgba(34, 60, 80, 0.2);



        }

        //end toltip

    }

    .card-footer-wrap {
        position: absolute;
        bottom: 25px;
        width: 92%;
    }

    .card-footer {
        display: flex;
        // width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 9px;
        position: relative;
        // background-color: red;

        // h2 {
        // width: 85%;
        // font-size: 20px;
        // line-height: 24px;
        // font-weight: 600;
        // margin: 0px 0px 0px 10px !important;
        // font-family: Gilroy_Semiold;
        // }
        h2 {
            // width: 80% !important;
            width: 92% ;
            font-size: 18px;
            line-height: 24px;
            font-weight: 600;
            // background-color: red;
            // margin: 0px 0px 0px 10px !important;
            font-family: Gilroy_Semiold;
            // z-index: 0;
            position: relative;
            // padding-top: 5px;

            a {
                color: #000;
            }

            .poster_title {
                width: 100%;
                min-height: 72px;
                // width: 80%;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;
                -ms-line-clamp: 3;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                display: -webkit-box;
                display: box;
                word-wrap: break-word;
                -webkit-box-orient: vertical;
                box-orient: vertical;

            }

            .poster_title p {
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;
                -ms-line-clamp: 3;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                display: -webkit-box;
                display: box;
                word-wrap: break-word;
                -webkit-box-orient: vertical;
                box-orient: vertical;
            }
        }


        @media all and (min-width:766px) and (max-width:991px) {
            p {
                font-size: 16px;
            }
        }

        .like {
            // position: absolute;
            width: 70px;
            height: 70px;
            // background-color: green;
            position: absolute;
            // margin-top: 30px !important;
            bottom: -2px;
            right: 0;

            .heart {
                top: 12px;
                // top: 0;
                margin-left: -5px !important;
                width: 70px;
                height: 70px;
                // border: 1px solid red;
                z-index: 5;
                cursor: pointer;


            }

        }
    }

    svg {
        position: absolute;
        left: -2px;
        bottom: 66px;
    }
}


.cards__slider {
    width: 100%;

    // .event-card {
    //     cursor: default;
    //     display: flex;
    //     flex-direction: column;
    //     height: 100%;
    //     border-radius: 12.4px;
    //     background-color: #fff;
    //     transition: all 0.1s ease-in-out;
    //     overflow: visible;
    //     padding: 30px 30px;
    //     font-family: 'Gilroy';
    //     box-shadow: none;
    //     height: 289px;
    //     position: relative;
    //     // color: red;
    //     text-decoration: none;

    //     .card-header {
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: flex-start;
    //         padding-bottom: 15px;
    //         min-height: 71px;
    //         // background-color: red;
    //         // border-bottom: 1px solid #B075A2;


    //         .dates {
    //             div {
    //                 font-size: 24px;
    //                 font-weight: 100 !important;
    //                 line-height: 28px;
    //                 font-family: Gilroy_bold;
    //                 // height: 50px;
    //             }
    //         }

    //         .count {
    //             font-size: 39px;
    //             font-weight: bolder;
    //             margin-top: -8px;
    //             font-family: Gilroy_Extrabold !important;
    //         }
    //     }

    //     .card-content {
    //         line-height: 15px;
    //         padding: 15px 0;
    //         margin-top: 20px;
    //         position: relative;
    //         height: 70px;
    //         // background-color: red;


    //         .hr {
    //             width: 100%;
    //             height: 2px;
    //             left: 50%;
    //             margin-left: -50%;
    //             background-color: #B075A2;
    //             position: absolute;
    //             top: -20px;
    //             transition: 0.3s ease-in;
    //         }



    //         p {
    //             margin: 0;
    //             font-size: 13px;
    //             color: #000;
    //             font-family: Gilroy_Regular;
    //             // color: red
    //             // height: 30px;
    //         }

    //         .specialtyName {
    //             // height: 20px;
    //         }

    //         .info {
    //             color: #787878;
    //             cursor: pointer;
    //             margin: 0;
    //             font-size: 13px;
    //             color: #000;
    //             font-family: Gilroy_Regular;
    //             font-weight: 100;
    //             // width: 300px;
    //             display: inline-block;
    //             // background-color: red;
    //             padding-bottom: 1px;
    //             border-bottom: 1px dashed #000;
    //         }

    //         .content-info {
    //             // background-color: red;
    //             width: 130px;

    //             p {
    //                 // color: red;

    //                 width: auto;

    //             }
    //         }


    //         // start tooltip

    //         .content-info .pop {

    //             display: none;
    //             padding: 20px 10px 20px 20px;
    //             z-index: 10;

    //             .pop-scroll {
    //                 width: 100%;
    //                 height: 210px;
    //                 // background-color: red;
    //                 overflow-y: scroll;
    //                 color: #000;
    //                 font-family: Gilroy_Regular;
    //                 line-height: 18px;
    //             }

    //             .pop-scroll::-webkit-scrollbar {
    //                 height: 0;
    //                 width: 2px;
    //             }

    //             .pop-scroll::-webkit-scrollbar-thumb {
    //                 // padding-right: 10px;
    //                 background-color: #B075A2;
    //                 border-radius: 9em;
    //                 box-shadow: inset 1px 1px 10px #f3faf7;
    //             }
    //         }

    //         .content-info:hover .pop {
    //             position: absolute;
    //             display: block;
    //             // color: green;
    //             // background-color: red;
    //             background-color: #fff;
    //             width: 65%;
    //             height: 250px;
    //             top: -100px;
    //             left: 38%;
    //             border-radius: 12.4px;
    //             -webkit-box-shadow: -1px 2px 11px 0px rgba(34, 60, 80, 0.2);
    //             -moz-box-shadow: -1px 2px 11px 0px rgba(34, 60, 80, 0.2);
    //             box-shadow: -1px 2px 11px 0px rgba(34, 60, 80, 0.2);



    //         }

    //         //end toltip

    //     }

    //     .card-footer-wrap {
    //         position: absolute;
    //         bottom: 25px;
    //         width: 92%;
    //     }

    //     .card-footer {
    //         display: flex;
    //         // width: 100%;
    //         justify-content: space-between;
    //         align-items: flex-end;
    //         margin-top: 9px;
    //         position: relative;
    //         // background-color: red;

    //         // h2 {
    //         // width: 85%;
    //         // font-size: 20px;
    //         // line-height: 24px;
    //         // font-weight: 600;
    //         // margin: 0px 0px 0px 10px !important;
    //         // font-family: Gilroy_Semiold;
    //         // }
    //         h2 {
    //             width: 80% !important;
    //             font-size: 18px;
    //             line-height: 24px;
    //             font-weight: 600;
    //             // background-color: red;
    //             // margin: 0px 0px 0px 10px !important;
    //             font-family: Gilroy_Semiold;
    //             // z-index: 0;
    //             position: relative;
    //             // padding-top: 5px;

    //             a {
    //                 color: #000;
    //             }

    //             .poster_title {
    //                 width: 100%;
    //                 min-height: 72px;
    //                 // width: 80%;
    //                 -ms-text-overflow: ellipsis;
    //                 -o-text-overflow: ellipsis;
    //                 text-overflow: ellipsis;
    //                 overflow: hidden;
    //                 -ms-line-clamp: 3;
    //                 -webkit-line-clamp: 3;
    //                 line-clamp: 3;
    //                 display: -webkit-box;
    //                 display: box;
    //                 word-wrap: break-word;
    //                 -webkit-box-orient: vertical;
    //                 box-orient: vertical;

    //             }

    //             .poster_title p {
    //                 -ms-text-overflow: ellipsis;
    //                 -o-text-overflow: ellipsis;
    //                 text-overflow: ellipsis;
    //                 overflow: hidden;
    //                 -ms-line-clamp: 3;
    //                 -webkit-line-clamp: 3;
    //                 line-clamp: 3;
    //                 display: -webkit-box;
    //                 display: box;
    //                 word-wrap: break-word;
    //                 -webkit-box-orient: vertical;
    //                 box-orient: vertical;
    //             }
    //         }


    //         @media all and (min-width:766px) and (max-width:991px) {
    //             p {
    //                 font-size: 16px;
    //             }
    //         }

    //         .like {
    //             // position: absolute;
    //             width: 70px;
    //             height: 70px;
    //             // background-color: green;
    //             position: absolute;
    //             // margin-top: 30px !important;
    //             bottom: -2px;
    //             right: 0;

    //             .heart {
    //                 top: 12px;
    //                 // top: 0;
    //                 margin-left: -5px !important;
    //                 width: 70px;
    //                 height: 70px;
    //                 // border: 1px solid red;
    //                 z-index: 5;
    //                 cursor: pointer;


    //             }

    //         }
    //     }

    //     svg {
    //         position: absolute;
    //         left: -2px;
    //         bottom: 66px;
    //     }
    // }

}

.swiper-button-next:after, .swiper-button-prev:after {
    color: #333333;
    // display: none;
}


.cards__slider {
    margin-top: 50px;
    margin-bottom: 50px;

    .sw {
        padding-left: 20px;
        // padding-right: 100px;
    }
}




@media (max-width: 1340px) {
    .ads__block {
        height: 65% !important;
    }
}

@media (max-width: 1340px) and (min-width: 992px) {
    .ads__block {
        .header {
            font-size: 24px !important;
        }
    }
}



@media (max-width: 992px) {

    // h1{
    //     font-size: 18px !important;
    //     line-height: 24px !important;
    //     color: red !important;
    // }
    .flex-direction-controller {
        display: flex;
        flex-direction: column;
        margin-top: 0px !important;
        // background-color: red;

        .links {


            a {
                padding-left: 30px !important;

                // span {
                //     font-size: 20px !important;
                // }

            }

        }

        // h2{
        //     color: red;
        //     font-size: 24px !important;
        // }
        .section {
            width: 100% !important;

        }

        .ads__block {
            margin-top: 0px !important;
            width: 100% !important;
            margin-left: 0px !important;
        }

        .brand__name {
            // background-color: green;
            width: 100% !important;

            .info {
                .info-item {
                    // font-size: 26px !important;
                }
            }
        }
    }

}

@media (max-width: 576px) {
    .h2 {
        font-size: 24px !important;
        // color: red;
    }

    h3{
        font-size: 24px !important;
    }
    .svg__colored__treangle {
        top: 7px;
    }

    .butto__wrap {

        width: 100% !important;

        button {
            width: 100% !important;
        }
    }

    .links {
        width: 340px !important;

        a {
            padding-left: 0px !important;
            margin-top: 20px !important;

            span {
                font-size: 20px !important;
            }

        }

    }
    .brand__name{
        img{
            width: 100px !important;
            height: 100px !important;
        }
        .info{
            .info-item{
                font-size: 18px !important;
                color: red;
                line-height: 24px !important;
            }
        }
    }
    // .info-item{
    //     font-size: 10px !important;
    //     color: red !important;
    // }


}

@media (max-width: 500px) {
    .h2{
        margin-bottom: 10px !important;
    }
    .p{
        padding-left: 10px !important;
    }
    // .p__ml{
    //     margin-left: -20px !important;
    // }
    // .inform__block-left {
    //     // padding-left: 10px !important;
    // }
    .program__item-p {
        // color: blue !important;
        font-size: 13px !important;
    }
    .speaker__info{
        img{
            margin-top: 10px;
            width: 100px !important;
            height: 100px !important;
        }
        .info{
            a{
                margin-top: 10px !important;
            }
        }
    }
    // .info-item{
    //     font-size: 4px !important;
    //     color: red !important;
    // }
}



@media (max-width: 450px) {

    p{
        // line-height: 30px !important;
    }

    .ads__block {
        .header {
            font-size: 24px !important;
        }
    }

    .p__bold {
        font-size: 19px !important;
        // color: red !important;
    }

    .title {
        font-size: 20px !important;
        // color: green !important;
    }
}
@media (max-width: 350px) {
    .zet {

        // width: 120px;
        .number {
            font-size: 60px !important;
        }

        .string {
            font-size: 12px !important;
        }
    }
    .links {
        width: 300px !important;

        a {
            padding-left: 0px !important;
            margin-top: 20px !important;


            span {
                font-size: 16px !important;
            }

        }

    }
    .butto__wrap{
        button{
            font-size: 16px !important;
        }
    }
    // .ads__block {
    //     .header {
    //         font-size: 24px !important;
    //     }
    // }

    // .p__bold {
    //     font-size: 19px !important;
    //     // color: red !important;
    // }

    // .title {
    //     font-size: 20px !important;
    //     // color: green !important;
    // }
}

.rightArrow{
    // display: none;

    background-image: url('../assets/arrow-slider-right.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px !important;
    height: 50px !important;
    right: 0px;
}
.leftArrow{
    // display: none;

    background-image: url('../assets/arrow-slider-right.png');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);;
    width: 30px !important;
    height: 50px !important;
    // right: 0px;
}
.rightArrow:after{
    // display: none;
    opacity: 0;
    // background-image: url('../assets/arrow-slider-right.png');
}
.leftArrow:after{
    // display: none;
    opacity: 0;
    // background-image: url('../assets/arrow-slider-right.png');
}


.modal_wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #3333339d;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -1;


    .modal_window{
        position: fixed;
        width: 90%;
        height: 80%;
       left: 5%;
        top: 10%;
        border-radius: 12.4px;
        background-color: #fff;
        padding: 40px;
        .burger_modal{
            position: absolute;
            right: 10px;
            top: 10px;
        }
        .modal_content{
            overflow-y: scroll;
        }
    }

}
.modal_wrap-active{
  
    opacity: 1;
    
    z-index: 20;
    .modal_window{
        position: relative;
        z-index: 25 !important;
    }
    @media (min-width: 1150px){
        .modal_window{
            left: 15%;
            width: 70%;
            z-index: 25 !important;
        }
    }
   

}